<mat-toolbar color="primary" class="header">
    <div>Timesheet Management</div>
    <span class="fill-remaining-space"></span>
    <span *ngIf="userLogin()">Welcome {{getUsername()}}</span>
    <button *ngIf="!userLogin()" mat-button routerLink="/login">Login</button>
    <button *ngIf="userLogin()" mat-button routerLink="/" (click)="logout()">Logout</button>
        
</mat-toolbar>
<nav mat-tab-nav-bar style="background-color:whitesmoke;">
    <a mat-tab-link routerLink="/administration">Administration</a>
    <a mat-tab-link routerLink="/timecardmanagement">Timecard Management</a>
    <a mat-tab-link routerLink="/reports">Report</a>
  </nav>


<router-outlet></router-outlet>